@media (max-device-width: 768px) and (max-device-height: 1024px){
    body, main {
        height: 4319px;
    }

    main #home-principal {
        height: 38vh;
    }
    
    main #home-principal .image {
        height: 99%;
    }

    main #nossa-história {
        margin-bottom: 40px;
    }

    #galeria-fotos {
        height: 50vh;
    }

    #galeria-fotos .foto {
        height: 50vh;
    }
    
    main #galeria-fotos .seta {
        top: 129%;
    }

    .info .onde h3 {
        margin-top: -10px;
    }

    .info .quando h6,
    .info .onde h6 {
        font-size: 13px;
    }

}

@media (max-device-width: 768px) {
    .navbar-menu {
        display: none;
    }

    #lista-presentes h1 {
        margin-bottom: 23px;
    }

    #lista-presentes .presentes {
        flex-direction: column-reverse;
    }
}

@media (max-device-width: 540px) and (max-device-height: 720px) {
    body, main {
        width: 780px;
        height: 4375px;
    }

    main #home-principal {
        height: 81vh;
    }

    main #home-principal .image {
        height: 67%;
    }

    .image img {
        width: 145.7vw;
    }

    main #nossa-história {
        margin-bottom: -119px;
    }

    main #nossa-história .historia {
        margin-top: -289px;
    }

    main #galeria-fotos {
        height: 519px;
        width: 144vw;
    }
    
    main #galeria-fotos .foto {
        height: 519px;
        width: 144vw;
    }

    main #galeria-fotos .seta {
        top: 188%;
    }

    main #galeria-fotos .direita {
        right: -169px;
    }

    
    #lista-presentes .background {
        width: 144%;
    }
}

@media (max-device-width: 425px) {
    body, main {
        width: fit-content;
    }
}

@media (max-device-width: 430px) and (max-device-height: 932px) {
    body, main {
        height: 4430px;
        width: fit-content;
    }
    
    main #home-principal {
        height: 57vh;
    }

    main #home-principal .image {
        height: 66%;
    }

    .image img {
        width: 163.7vw;
    }

    main #nossa-história {
        margin-bottom: -115px;
        height: 776px;
    }
    
    main #nossa-história .historia {
        margin-top: -264px;
    }
    
    main #galeria-fotos {
        height: 10%;
        width: 159vw;
    }
    
    main #galeria-fotos .foto {
        height: 456px;
        width: 159vw;
    }
    
    main #galeria-fotos .seta {
        top: 157%;
    }

    main #galeria-fotos .direita {
        right: -214px;
    }

    .section-info h1,
    .como-chegar h1 {
        font-size: 35px;
    }

    #lista-presentes .background {
        width: 162%;
    }

    #confirmar-presenca .text1 {
        height: 16%;
    }
}

@media (max-device-width: 425px) and (max-device-height: 896px){
    body, main {
        height: 4644px;
    }

    main #home-principal {
        height: 39vh;
    }
    
    main #home-principal .image h1{
        margin-top: 137px;
    }

    main #nossa-história {
        height: 900px;
    }

    main #nossa-história .historia {
        margin-top: 48px;
    }
    
    main #galeria-fotos{
        height: 545px;
    }
    
    main #galeria-fotos .foto {
        height: 61vh;
    }

    main #galeria-fotos .seta {
        top: 177%;
    }

    main #galeria-fotos .direita{
        right: -243px;
    }

    main #info-casamento .como-chegar {
        height: 57%;
    }

    .como-chegar h1 {
        margin-top: 0;
    }

    #confirmar-presenca h1 {
        font-size: 29px;
    }

    form button {
        padding: 13px 44px 12.2px 36px;
        height: 60px;
    }
}

@media (max-device-width: 414px) and (max-device-height: 896px){
    body, main {
        height: 4373px;
        width: fit-content;
    }

    main #home-principal {
        width: 168vw;
    }
    
    main #home-principal .image img{
        width: 167.7vw;
    }
    
    main #nossa-história {
        width: 100%;
    }
    
    main #nossa-história .historia{
        margin-top: -180px;
        height: 68%;
    }

    main #galeria-fotos {
        height: 51vh;
        width: 100%;
    }
    
    main #galeria-fotos .foto {
        height: 51vh;
        width: 163%;
    }

    main #galeria-fotos .seta {
        top: 153%;
        font-size: 52px;
    }

    main #galeria-fotos .direita {
        right: -247px;
    }

    .section-info h1 {
        font-size: 35px;
    }
    
    .como-chegar h1 {
        font-size: 35px;
    }

    #lista-presentes .background {
        width: 168%;
    }
}

@media (max-device-width: 412px) and (max-device-height: 915px){
    body, main {
        height: 5055px;
        width: 277vw;
    }
    
    main #home-principal {
        height: 86vh;
    }

    main #home-principal .image {
        height: 74%;
    }

    .image img {
        width: 277.7vw;
    }

    main #nossa-história {
        margin-bottom: -47px;
    }

    main #galeria-fotos {
        height: 15%;
        width: 277vw;
    }

    main #galeria-fotos .foto {
        height: 761px;
        width: 277vw;
    }

    main #galeria-fotos .seta {
        top: 212%;
        font-size: 55px;
    }

    main #galeria-fotos .direita {
        right: -667px;
    }

    .info .quando h6 {
        font-size: 15.5px;
    }

    .info .onde h6 {
        font-size: 15.5px;
    }    

    #lista-presentes .background {
        width: 278%;
    }
}

@media (max-device-width: 390px) and (max-device-height: 844px) {
    body, main {
        width: fit-content;
        height: 4839px;
    }
    
    main #home-principal {
        height: 67vh;
        width: 100%;
    }
    
    main #home-principal .image {
        height: 100%;
        margin-top: -10px;
    }

    main #home-principal .image img {
        width: 275.7vw;
    }
    
    main #nossa-história {
        margin-bottom: -143px;
    }
    
    main #galeria-fotos,
    main #galeria-fotos .foto {
        height: 85vh;
    }

    main #galeria-fotos .seta {
        top: 202%;
        font-size: 50px;
    }

    main #galeria-fotos .direita {
        right: -630px;
    }

    #lista-presentes h1 {
        margin-bottom: 45px;
    }

    #lista-presentes .background {
        width: 278%;
    }

    #lista-presentes .presentes {
        flex-direction: column-reverse;
        height: 71%;
    }
}

@media (max-device-width: 375px) and (max-device-height: 667px){
    body, main {
        height: 4483px;
        width: fit-content;
    }

    main #home-principal {
        height: 62vh;
        width: auto;
    }

    main #home-principal .image {
        margin-top: -77px;
    }
    
    main #home-principal .image img {
        width: 226vw;
        margin-top: 80px;
    }
        
    main #nossa-história {
        height: 743px;
        margin-top: 45px;
    }
    
    main #nossa-história .historia {
        margin-top: -30px;
    }
    
    main #galeria-fotos{
        margin-top: -5px;
        height: 557px;
    }
    
    main #galeria-fotos .foto {
        height: 84vh;
        width: 225vw;
    }

    main #galeria-fotos .seta {
        top: 202%;
    }
    
    main #galeria-fotos .direita {
        right: -410px;
    }

    main #info-casamento .como-chegar {
        height: 57%;
    }

    .como-chegar h1 {
        margin-top: 28px;
    }

    #lista-presentes .background {
        width: 225%;
    }
    
    #confirmar-presenca h1 {
        font-size: 29px;
    }

    form button {
        padding: 13px 44px 12.2px 36px;
        height: 60px;
    }
}


@media (max-device-width: 360px) and (max-device-height: 740px){
    body, main {
        height: 4971px;
        width: fit-content;
    }
    
    main #home-principal {
        height: 86vh;
    }
    
    main #home-principal .image {
        height: 95%;
    }
    
    main #home-principal .image img {
        width: 323.7vw;
    }

    main #home-principal .image h1 {
        font-size: 40px;
    }
    
    main #home-principal .image h2 {
        font-size: 16px;
    }

    main #nossa-história {
        margin-bottom: -141px;
    }
    
    main #nossa-história .historia {
        margin-top: -170px;
        height: 63%;
    }

    main #galeria-fotos,
    main #galeria-fotos .foto {
        height: 105vh;
        width: 323vw;
    }

    main #galeria-fotos .seta {
        top: 242%;
        font-size: 68px;
    }

    main #galeria-fotos .direita {
        right: -748px;
    }

    #lista-presentes .background {
        width: 323%;
    }

    iframe {
        width: 645px;
    }

    main #lista-presentes .pix img {
        width: 55%;
    }

    
}

@media (max-device-width: 320px){
    body, main {
        height: 4340px;
    }

    main #nossa-história {
        height: 900px;
    }

    main #nossa-história .historia {
        margin-top: -28px;
    }
    
    main #galeria-fotos{
        height: 342px;
    }
    
    main #galeria-fotos .foto {
        height: 61vh;
    }

    main #galeria-fotos .seta {
        top: 243%;
    }

    main #galeria-fotos .direita{
        right: -141px;
    }

    main #info-casamento .como-chegar {
        height: 57%;
    }

    .como-chegar h1 {
        margin-top: 0;
    }

    #confirmar-presenca h1 {
        font-size: 29px;
    }

    form button {
        padding: 13px 44px 12.2px 36px;
        height: 60px;
    }
}

@media (max-device-width: 280px) and (max-device-height: 653px){
    body, main {
        height: 4482px;
    }
    
    main #home-principal {
        height: 81vh;
    }
    
    main #nossa-história {
        margin-top: -80px;
        height: 872px;
    }

    main #galeria-fotos .foto {
        height: 80vh;
    }

    main #galeria-fotos {
        height: 521px;
    }

    main #galeria-fotos .seta {
        top: 210%;
    }

    main #galeria-fotos .esquerda {
        left: 55px;
    }

    main #galeria-fotos .direita {
        right: -554px;
    }
}
